{% extends  'api_app/task_manage.html' %}
{% block edit_task %}
<div >
    <h2 class="sub-header">编辑任务
    </h2>
</div>

	<div class="input-group">
	    <span class="input-group-addon">任务名称</span>
	    <input id="task_name" type="text" class="form-control" placeholder="任务名称">
	</div>
	<br>

	<div class="input-group">
	    <span class="input-group-addon">任务描述</span>
	    <input id="task_describe" type="text" class="form-control" placeholder="任务描述">
	</div>
	<br>

	 <div class="form-group" style="height: 20px;">
        <label>状态： </label>
        <select id="task_status">
            <option value=0>未运行</option>
            <option value=1>在运行</option>
            <option value=2>排队中</option>
            <option value=2>已运行</option>
        </select>
    </div>

    <div class="form-group">
        <label>用例：</label>
        <div  class="caseList" style="overflow-y:scroll; height: 200px; background: #FFFFFF; padding-left: 15px;">
            <ul id='caseList'>
                
            </ul>
            
        </div>
                
     </div>

	<div style="width: 100%; height: 60px;">
        <button type="button" class="btn btn-success" id="update" style="float: right;margin-right: 10px;">更新</button>
    </div>


<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
    let url_path = document.location.pathname;
    let taskId = url_path.split("/")[4];
    TaskInit(taskId)
    
$(document).ready(function(){
    //更新任务
  $("#update").click(function(){
    let task_name = $("#task_name").val();
    let task_describe = $("#task_describe").val();
    let task_status = $("#task_status").val();
    let task_cases = ''
    let cases_check = document.getElementsByName('case_check')
    
    for (let i=0;i<cases_check.length;i++){
        console.log('cases_check:',cases_check)
        if (cases_check[i].checked == true){
            task_cases = task_cases + cases_check[i].id + ','
            console.log('task_cases:',task_cases)
        }
    };
    console.log('task_cases',task_cases)

    if (task_name == ''){
        window.alert('任务名称不能为空');
        return;
    }else if(task_cases == ''){
        window.alert('请选择测试用例');
        return ;
    }

    $.post("/cases/task/update/",
        {   
            'tid':taskId,
            "task_name":task_name,
            "task_describe":task_describe,
            "task_status":task_status,
            'task_cases':task_cases,
        },
        function(result){
            if (result.success == 'true'){
                window.alert('更新成功')
            }else{
                 window.alert(result.message)
            }
        });
  });
});

</script>

{% endblock %}