{% extends  'base.html' %}
{% block content %}


    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"> {{ user }}</a></li>
            <li><a href="#">设置</a></li>
            <li><a href="/logout/">退出</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="请输入项目名称">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li ><a href="/manage/project/">项目管理</a></li>
            <li><a href="/manage/module/">模块管理</a></li>
            <li><a href="#"></a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active" ><a href="#">用例管理</a></li>
            <li><a href="/cases/task/">任务管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href=""></a></li>
            <li><a href="">MockServer</a></li>
          </ul>
        </div>

    {% if type == 'list' %}
    <div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">用例列表
          <button  type='button' style='float:right' onclick="window.location.href='debug/'">调试</button>
        </h2>
          
          <div class="table-responsive">
            <table id='prlist'  class="table table-striped">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>所属项目-模块</th>
                  <th>用例名称</th>
                  <th>url</th>
                  <th>请求方法</th>
                  <th>参数类型</th>
                  <th>请求头部</th>
                  <th>请求参数</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                {% for case in cases %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ case.module }}</td>
                  <td>{{ case.name }}</td>
                  <td>{{ case.url }}</td>
                  <td>{{ case.method }}</td> 
                  <td>{{ case.datatype}}</td>         
                  <td>{{ case.headers}}</td>
                  <td>{{ case.params}}</td>
                  <td>
                    <a href="edit/{{ case.id }}/">编辑</a>
                    <a href="del/{{ case.id }}/">删除</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>



      <!-- 列表分页器 -->
      <div class="pagination">
      <span class="step-links">
          <ul class="pagination">
              {% if cases.has_previous %}
                  <li><a href="?case_name={{ case_name }}&page={{ cases.previous_page_number }}">&laquo;</a></li>
              {% endif %}
  
              <li><a href="#">{{ cases.number }}</a></li>
  
              {% if cases.has_next %}
                  {% if case_name %}
                      <li><a href="?case_name={{ case_name }}&page={{ cases.next_page_number }}">&raquo;</a></li>
                  {% else %}
                      <li><a href="?page={{ cases.next_page_number }}">&raquo;</a></li>
                  {% endif %}
              {% endif %}
              <li><a href="#">共：{{ cases.paginator.num_pages }} 页</a></li>
          </ul>
      </span>
  </div>
  </div>
  </div>
   
</div>

    {% endif %}


    {% if type == 'add' %}
    <div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">添加项目</h2>          
          <div class="table-responsive">
            <form action="/manage/project/add/" method="post">
              {% csrf_token %}
              {{ form.as_p }}
            <a class="btn btn-default" href="/manage/project/">取消</a>
            <input class="btn btn-default" type="submit" value="创建">

            </form>
          </div>
        </div>
      </div>
    </div> 
    {% endif %}

    {% if type == 'edit' %}
    <div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">编辑项目</h2>          
          <div class="table-responsive">
            <form action="/manage/project/edit/{{ pid }}/" method="post">
              {% csrf_token %}
              {{ form.as_p }}
            <a class="btn btn-default" href="/manage/project/">取消</a>
            <input class="btn btn-default" type="submit" value="保存">
            </form>
          </div>
        </div>
      </div>
    </div> 
    {% endif %}

     {% if type == 'debug' %}
     <div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">接口调试</h2>
        {% block debug %}
        {% endblock %}     
      {% endif %}

{% endblock %}

