{% extends  'task_manage.html' %}
{% block task_add %}
<div >
    <h2 class="sub-header">创建任务
    </h2>
</div>

	<div class="input-group">
	    <span class="input-group-addon">任务名称</span>
	    <input id="req_name" type="text" class="form-control" placeholder="name">
	</div>
	<br>

	<div class="input-group">
	    <span class="input-group-addon">任务描述</span>
	    <input id="req_url" type="text" class="form-control" placeholder="url">
	</div>
	<br>

	 <div class="form-group" style="height: 20px;">
        <label>状态</label>
        <select id="project_name">
            <option value=0>未运行</option>
            <option value=1>在运行</option>
            <option value=2>已运行</option>
        </select>
    </div>

    <div style="width:80%; margin-left: 20px;">
        <p>添加用例：</p>
        <textarea id="result" class="form-control" rows="10" name=textarea></textarea>
	</div>

	<div style="width: 100%; height: 60px;">
        <button type="button" class="btn btn-success" id="save" style="float: right;margin-right: 10px;">保存</button>
    </div>


{% endblock %}